<div class="card h-100">
    <div class="card-header d-flex justify-content-between">
        <div class="card-title mb-0">
            <h5 class="mb-0">Monthly Campaign State</h5>
            <small class="text-muted">8.52k Social Visiters</small>
        </div>
        <div class="dropdown">
            <button class="btn p-0"
                    type="button"
                    id="MonthlyCampaign"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="ti ti-dots-vertical ti-sm text-muted"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="MonthlyCampaign">
                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                <a class="dropdown-item" href="javascript:void(0);">Download</a>
                <a class="dropdown-item" href="javascript:void(0);">View All</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="p-0 m-0">
            <li class="mb-4 pb-1 d-flex justify-content-between align-items-center">
                <div class="badge bg-label-success rounded p-2"><i class="ti ti-mail ti-sm"></i></div>
                <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h6 class="mb-0 ms-3">Emails</h6>
                    <div class="d-flex">
                        <p class="mb-0 fw-medium">12,346</p>
                        <p class="ms-3 text-success mb-0">0.3%</p>
                    </div>
                </div>
            </li>
            <li class="mb-4 pb-1 d-flex justify-content-between align-items-center">
                <div class="badge bg-label-info rounded p-2"><i class="ti ti-link ti-sm"></i></div>
                <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h6 class="mb-0 ms-3">Opened</h6>
                    <div class="d-flex">
                        <p class="mb-0 fw-medium">8,734</p>
                        <p class="ms-3 text-success mb-0">2.1%</p>
                    </div>
                </div>
            </li>
            <li class="mb-4 pb-1 d-flex justify-content-between align-items-center">
                <div class="badge bg-label-warning rounded p-2"><i class="ti ti-click ti-sm"></i></div>
                <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h6 class="mb-0 ms-3">Clicked</h6>
                    <div class="d-flex">
                        <p class="mb-0 fw-medium">967</p>
                        <p class="ms-3 text-success mb-0">1.4%</p>
                    </div>
                </div>
            </li>
            <li class="mb-4 pb-1 d-flex justify-content-between align-items-center">
                <div class="badge bg-label-primary rounded p-2"><i class="ti ti-users ti-sm"></i></div>
                <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h6 class="mb-0 ms-3">Subscribe</h6>
                    <div class="d-flex">
                        <p class="mb-0 fw-medium">345</p>
                        <p class="ms-3 text-success mb-0">8.5k</p>
                    </div>
                </div>
            </li>
            <li class="mb-4 pb-1 d-flex justify-content-between align-items-center">
                <div class="badge bg-label-secondary rounded p-2">
                    <i class="ti ti-alert-triangle ti-sm text-body"></i>
                </div>
                <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h6 class="mb-0 ms-3">Complaints</h6>
                    <div class="d-flex">
                        <p class="mb-0 fw-medium">10</p>
                        <p class="ms-3 text-success mb-0">1.5%</p>
                    </div>
                </div>
            </li>
            <li class="d-flex justify-content-between align-items-center">
                <div class="badge bg-label-danger rounded p-2"><i class="ti ti-ban ti-sm"></i></div>
                <div class="d-flex justify-content-between w-100 flex-wrap">
                    <h6 class="mb-0 ms-3">Unsubscribe</h6>
                    <div class="d-flex">
                        <p class="mb-0 fw-medium">86</p>
                        <p class="ms-3 text-success mb-0">0.8%</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

@code {

}
