<div class="card">
    <div class="card-datatable table-responsive">
        <table class="datatables-projects table border-top">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Name</th>
                    <th>Leader</th>
                    <th>Team</th>
                    <th class="w-px-200">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@code {

}
