<div class="card">
    <div class="card-body pb-0">
        <div class="card-icon">
            <span class="badge bg-label-success rounded-pill p-2">
                <i class="ti ti-credit-card ti-sm"></i>
            </span>
        </div>
        <h5 class="card-title mb-0 mt-2">97.5k</h5>
        <small>Revenue Generated</small>
    </div>
    <div id="revenueGenerated"></div>
</div>

@code {

}
