<div class="card h-100">
    <div class="card-header d-flex justify-content-between">
        <div class="card-title mb-0">
            <h5 class="m-0 me-2">Sales by Countries</h5>
            <small class="text-muted">Monthly Sales Overview</small>
        </div>
        <div class="dropdown">
            <button class="btn p-0"
                    type="button"
                    id="salesByCountry"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="ti ti-dots-vertical ti-sm text-muted"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="salesByCountry">
                <a class="dropdown-item" href="javascript:void(0);">Download</a>
                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                <a class="dropdown-item" href="javascript:void(0);">Share</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="p-0 m-0">
            <li class="d-flex align-items-center mb-4">
                <div class="avatar flex-shrink-0 me-3">
                    <i class="fis fi fi-us rounded-circle fs-1"></i>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2">
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0 me-1">$8,567k</h6>
                        </div>
                        <small class="text-muted">United states</small>
                    </div>
                    <div class="user-progress">
                        <p class="text-success fw-medium mb-0 d-flex justify-content-center gap-1">
                            <i class="ti ti-chevron-up"></i>
                            25.8%
                        </p>
                    </div>
                </div>
            </li>
            <li class="d-flex align-items-center mb-4">
                <div class="avatar flex-shrink-0 me-3">
                    <i class="fis fi fi-br rounded-circle fs-1"></i>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2">
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0 me-1">$2,415k</h6>
                        </div>
                        <small class="text-muted">Brazil</small>
                    </div>
                    <div class="user-progress">
                        <p class="text-danger fw-medium mb-0 d-flex justify-content-center gap-1">
                            <i class="ti ti-chevron-down"></i>
                            6.2%
                        </p>
                    </div>
                </div>
            </li>
            <li class="d-flex align-items-center mb-4">
                <div class="avatar flex-shrink-0 me-3">
                    <i class="fis fi fi-in rounded-circle fs-1"></i>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2">
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0 me-1">$865k</h6>
                        </div>
                        <small class="text-muted">India</small>
                    </div>
                    <div class="user-progress">
                        <p class="text-success fw-medium mb-0 d-flex align-items-center gap-1">
                            <i class="ti ti-chevron-up"></i>
                            12.4%
                        </p>
                    </div>
                </div>
            </li>
            <li class="d-flex align-items-center mb-4">
                <div class="avatar flex-shrink-0 me-3">
                    <i class="fis fi fi-au rounded-circle fs-1"></i>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2">
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0 me-1">$745k</h6>
                        </div>
                        <small class="text-muted">Australia</small>
                    </div>
                    <div class="user-progress">
                        <p class="text-danger fw-medium mb-0 d-flex justify-content-center gap-1">
                            <i class="ti ti-chevron-down"></i>
                            11.9%
                        </p>
                    </div>
                </div>
            </li>
            <li class="d-flex align-items-center mb-4">
                <div class="avatar flex-shrink-0 me-3">
                    <i class="fis fi fi-us rounded-circle fs-1"></i>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2">
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0 me-1">$45</h6>
                        </div>
                        <small class="text-muted">France</small>
                    </div>
                    <div class="user-progress">
                        <p class="text-success fw-medium mb-0 d-flex justify-content-center gap-1">
                            <i class="ti ti-chevron-up"></i>
                            16.2%
                        </p>
                    </div>
                </div>
            </li>
            <li class="d-flex align-items-center">
                <div class="avatar flex-shrink-0 me-3">
                    <i class="fis fi fi-cn rounded-circle fs-1"></i>
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2">
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0 me-1">$12k</h6>
                        </div>
                        <small class="text-muted">China</small>
                    </div>
                    <div class="user-progress">
                        <p class="text-success fw-medium mb-0 d-flex justify-content-center gap-1">
                            <i class="ti ti-chevron-up"></i>
                            14.8%
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

@code {

}
