<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="card-title mb-0">
            <h5 class="mb-0">Source Visits</h5>
            <small class="text-muted">38.4k Visitors</small>
        </div>
        <div class="dropdown">
            <button class="btn p-0"
                    type="button"
                    id="sourceVisits"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="ti ti-dots-vertical ti-sm text-muted"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sourceVisits">
                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                <a class="dropdown-item" href="javascript:void(0);">Download</a>
                <a class="dropdown-item" href="javascript:void(0);">View All</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="list-unstyled mb-0">
            <li class="mb-3 pb-1">
                <div class="d-flex align-items-start">
                    <div class="badge bg-label-secondary p-2 me-3 rounded">
                        <i class="ti ti-shadow ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 flex-wrap gap-2">
                        <div class="me-2">
                            <h6 class="mb-0">Direct Source</h6>
                            <small class="text-muted">Direct link click</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="mb-0">1.2k</p>
                            <div class="ms-3 badge bg-label-success">+4.2%</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="mb-3 pb-1">
                <div class="d-flex align-items-start">
                    <div class="badge bg-label-secondary p-2 me-3 rounded">
                        <i class="ti ti-globe ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 flex-wrap gap-2">
                        <div class="me-2">
                            <h6 class="mb-0">Social Network</h6>
                            <small class="text-muted">Social Channels</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="mb-0">31.5k</p>
                            <div class="ms-3 badge bg-label-success">+8.2%</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="mb-3 pb-1">
                <div class="d-flex align-items-start">
                    <div class="badge bg-label-secondary p-2 me-3 rounded">
                        <i class="ti ti-mail ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 flex-wrap gap-2">
                        <div class="me-2">
                            <h6 class="mb-0">Email Newsletter</h6>
                            <small class="text-muted">Mail Campaigns</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="mb-0">893</p>
                            <div class="ms-3 badge bg-label-success">+2.4%</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="mb-3 pb-1">
                <div class="d-flex align-items-start">
                    <div class="badge bg-label-secondary p-2 me-3 rounded">
                        <i class="ti ti-external-link ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 flex-wrap gap-2">
                        <div class="me-2">
                            <h6 class="mb-0">Referrals</h6>
                            <small class="text-muted">Impact Radius Visits</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="mb-0">342</p>
                            <div class="ms-3 badge bg-label-danger">-0.4%</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="mb-3 pb-1">
                <div class="d-flex align-items-start">
                    <div class="badge bg-label-secondary p-2 me-3 rounded">
                        <i class="ti ti-discount-2 ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 flex-wrap gap-2">
                        <div class="me-2">
                            <h6 class="mb-0">ADVT</h6>
                            <small class="text-muted">Google ADVT</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="mb-0">2.15k</p>
                            <div class="ms-3 badge bg-label-success">+9.1%</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="mb-2">
                <div class="d-flex align-items-start">
                    <div class="badge bg-label-secondary p-2 me-3 rounded">
                        <i class="ti ti-star ti-sm"></i>
                    </div>
                    <div class="d-flex justify-content-between w-100 flex-wrap gap-2">
                        <div class="me-2">
                            <h6 class="mb-0">Other</h6>
                            <small class="text-muted">Many Sources</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="mb-0">12.5k</p>
                            <div class="ms-3 badge bg-label-success">+6.2%</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

@code {

}
